.about-section {
    width: 100%;
    padding: 70px 25px;
}

.about-div {
    width: 100%;
    opacity: 0;
    transform: translateX(-25px);
}

.about-div.show-element {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
}

.about-h2 {
    font-size: 2rem;
    text-align: center;
    word-break: break-word;
}

.about-p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4;
    word-break: break-word;
    margin-top: 30px;
    opacity: 0;
    transform: translateX(-25px);
}

.about-div.show-element .about-p {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
}

.about-p::first-letter {
    initial-letter: 2;
    -webkit-initial-letter: 2;
    font-weight: 400;
    margin-right: 0.5rem;
}