.appointment-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 40px;
    background-color: var(--MAIN-LIGHT-EFFECT-COLOR);
    border: 1px solid var(--MAIN-DARK-COLOR);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -100%) scaleY(0);
    z-index: 100;
    visibility: hidden;
}

.appointment-popup.active {
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 150ms, visibility 50ms;
    visibility: visible;
}

.appointment-popup-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.appointment-popup-close-button-relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.appointment-popup-close-button-stripe {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: var(--MAIN-DARK-COLOR);
    width: 100%;
    height: 4px;
}

.appointment-popup-close-button-stripe:first-child {
    transform: translate(50%, -50%) rotate(45deg);
}

.appointment-popup-close-button-stripe:last-child {
    transform: translate(50%, -50%) rotate(135deg);
}

.appointment-popup-success {
    width: 85px;
    height: 85px;
    pointer-events: none;
}

.appointment-popup-h2 {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 20px;
}

.appointment-popup-p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
}

.appointment-popup-button {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    color: var(--MAIN-LIGHT-COLOR);
    background-color: var(--MAIN-DARK-COLOR);
    border: 1px solid var(--MAIN-DARK-COLOR);
    padding: 6px 35px;
    margin-top: 20px;
    cursor: pointer;
}