footer {
    width: 100%;
    padding: 50px;
    border-top: 1px solid var(--MAIN-DARK-COLOR);
    margin-top: 70px;
}

.footer-content-div {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 50px;
}

.footer-pages-h3,
.footer-contact-h3,
.footer-newsletter-h3 {
    font-size: 1.6rem;
    word-break: break-word;
}

.footer-pages-div > a {
    display: block;
    font-size: 0.95rem;
    text-decoration: none;
    color: var(--MAIN-DARK-COLOR);
    width: fit-content;
    word-break: break-word;
    margin-top: 5px;
}

.footer-pages-div > a:hover {
    text-decoration: underline;
}

.footer-pages-div > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-contact-div > p {
    font-size: 0.95rem;
    word-break: break-word;
    margin-top: 5px;
}

.footer-newsletter-div > p {
    font-size: 0.95rem;
    word-break: break-word;
    margin-top: 5px;
}

.footer-newsletter-div > form {
    margin-top: 5px;
}

.footer-newsletter-div > form > input,
.footer-newsletter-div > form > button {
    font-size: 0.95rem;
    letter-spacing: -0.5px;
    width: 100%;
    border: 1px solid var(--MAIN-DARK-COLOR);
    margin-top: 5px;
}

.footer-newsletter-div > form > input {
    padding: 4px 5px;
    background-color: var(--MAIN-LIGHT-COLOR);
}

.footer-newsletter-div > form > button {
    color: var(--MAIN-LIGHT-COLOR);
    padding: 5px 5px;
    background-color: var(--MAIN-DARK-COLOR);
    cursor: pointer;
}

#footer-success-p {
    font-size: 1.05rem;
    font-weight: 500;
    color: #25AE88;
}

.footer-logo-a {
  width: 150px;
  margin: 0 auto;
}

.footer-logo {
  width: 100%;
  height: auto;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
    .footer-content-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-logo-a {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

@media screen and (max-width: 425px) {
    .footer-content-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-logo-a {
        width: 100%;
        max-width: 150px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}