header.header {
    position: fixed;
    top: 0;
    padding: 20px 30px;
    width: 100%;
    background-color: var(--MAIN-LIGHT-COLOR);
    border-bottom: 1px solid var(--MAIN-DARK-COLOR);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
  
.header-logo {
    width: 150px;
    height: auto;
    pointer-events: none;
}
  
.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
  
.header-nav > a {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: var(--MAIN-DARK-COLOR);
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to right top, var(--MAIN-DARK-COLOR) 50%, var(--MAIN-LIGHT-COLOR) 50%) right top;
    background-size: 200% 200%;
    border: 1px solid var(--MAIN-DARK-COLOR);
    transition: color 125ms, background-position 125ms ease-in-out, border 125ms;
    cursor: pointer;
}
  
.header-nav > a:hover {
    color: var(--MAIN-LIGHT-COLOR);
    background-position: left bottom;
}
  
.header-menu-button {
    position: relative;
    cursor: pointer;
}
  
.header-menu-stripe {
    width: 34px;
    height: 7px;
    background-color: var(--MAIN-LIGHT-COLOR);
    border: 1px solid var(--MAIN-DARK-COLOR);
    margin: 4px;
}
  
.header-dropdown-nav {
    position: absolute;
    right: -5px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    visibility: hidden;
    transform: translateX(6px);
}
  
.header-menu-button:focus-within .header-dropdown-nav {
    visibility: visible;
    transform: translateX(0);
    transition: visibility 100ms, transform 100ms;
}
  
.header-dropdown-nav > a {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: var(--MAIN-DARK-COLOR);
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to right top, var(--MAIN-DARK-COLOR) 50%, var(--MAIN-LIGHT-COLOR) 50%) right top;
    background-size: 200% 200%;
    border: 1px solid var(--MAIN-DARK-COLOR);
    transition: color 125ms, background-position 125ms ease-in-out, border 125ms;
    cursor: pointer;
}
  
.header-dropdown-nav > a:hover {
    color: var(--MAIN-LIGHT-COLOR);
    background-position: left bottom;
}
  
@media screen and (max-width: 425px) {
    header.header {
        padding: 16px 30px;
    }
  
    .header-logo {
        width: 100px;
    }
}