.gallery-section {
    font-size: 0;
    padding: 25px;
    background-color: var(--MAIN-LIGHT-COLOR);
    display: flex;
    gap: 5px;

    .gallery-grid-column {
        width: 100%;
        display: block;

        > a {
            > img {
                width: 100%;
                border: 1px solid var(--MAIN-DARK-COLOR);
                margin-bottom: 5px;
            }
        }
    }
}
