.testimonials-section {
    width: 100%;
    padding: 70px 25px;

    > div {
        width: 100%;
        opacity: 0;
        transform: translateX(-25px);

        &.show-element {
            width: 100%;
            opacity: 1;
            transform: translateX(0);
            transition: all 500ms;

            .testimonials-testimonial {
                opacity: 1;
                transform: translateX(0);
                transition: all 500ms;
            }

            @for $i from 1 through 3 {
                .testimonials-testimonial:nth-child(#{$i}) {
                    transition-delay: $i * 75ms;
                }
            }
        }

        > h2 {
            font-size: 2rem;
            word-break: break-word;
        }

        > button {
            font-size: 1.1rem;
            word-break: break-word;
            color: var(--MAIN-DARK-COLOR);
            background: linear-gradient(to bottom, var(--MAIN-LIGHT-COLOR) 50%, var(--MAIN-DARK-COLOR) 50%) top;
            background-size: 100% 200%;
            border: 1px solid var(--MAIN-DARK-COLOR);
            margin: 25px auto 0;
            padding: 6px 20px;
            display: block;
            transition: all 100ms;
            cursor: pointer;

            &:hover,
            &:focus-visible {
                color: var(--MAIN-LIGHT-COLOR);
                background-position: bottom;
            }
        }
    }
}

.testimonials-testimonials {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 25px;

    > :nth-child(n + 4) {
        display: none;
    }

    &.show {
        > * {
            display: flex;
        }
    }
}

.testimonials-testimonial {
    position: relative;
    background-color: var(--MAIN-LIGHT-EFFECT-COLOR);
    padding: 15px;
    border: 1px solid var(--MAIN-DARK-COLOR);
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-25px);

    > img {
        width: 20%;
        height: auto;
        border: 1px solid var(--MAIN-DARK-COLOR);
        border-radius: 50%;
    }

    > h4 {
        font-size: 1.2rem;
        text-align: center;
        word-break: break-word;
        margin-top: 10px;
    }

    > h3 {
        font-size: 1.2rem;
        text-align: center;
        word-break: break-word;
        margin-top: 15px;
    }

    > p {
        font-size: 1rem;
        text-align: justify;
        word-break: break-word;
        margin-top: 5px;
    }
}

@include screen-768 {
    .testimonials-testimonials {
        grid-template-columns: repeat(2, 1fr);

        > :nth-child(n + 3) {
            display: none;
        }

        &.show {
            > * {
                display: flex;
            }
        }
    }
}

@include screen-425 {
    .testimonials-testimonials {
        grid-template-columns: repeat(1, 1fr);

        &.show {
            > * {
                display: flex;
            }
        }
    }
}
